<%- include ('maqueta/cabecera.ejs') %>
<div id="login-page" class="row">
        <div class="col s4 z-depth-6 offset-s4 card-panel">
          <form action="/login" method="post" class="login-form">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">person_outline</i>
                <input class="validate" id="nombre_usuario" name="nombre" type="email" maxlenght="50">
                <label for="nombre_usuario" data-error="wrong" data-success="OK">Usuario</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="passwrd_usuario" type="password" name="password" maxlenght="50">
                <label for="passwrd_usuario">Clave</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button type="submit" class="btn waves-effect btn-primary col s12">Enviar</button>
              </div>
            </div>
            <div class="row">
              <% if(mjs!=''){  %>
              <div class="input-field col s12">
                <span class="badge "><%= mjs %></span>
              </div>
              <% } %>
            </div>
           
          </form>
        </div>
      </div> 
<%- include ('maqueta/pie.ejs') %>
