<%- include ('../maqueta/cabecera.ejs') %>
            <div class="card">
                <div class="card-content">
                <span class="card-title">Agregar Programador</span>
                </div>
                <div class="card-content">
                    <form id="agregar_programador" action="/programador" method="post" enctype="multipart/form-data">
                        <div class="input-field col s12">
                            <input placeholder="" id="nombre_apellido" name="nombre_apellido" type="text" class="validate" required="" aria-required="true" maxlenght="50">
                            <label for="nombre_apellido" data-error="wrong" data-success="right">Nombre </label>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="" id="agnos_programando" name="agnos_programando" type="number" min="0" max="50" class="validate" required="" aria-required="true" maxlenght=50>
                            <label for="agnos_programando" data-error="wrong" data-success="right">Años Programando</label>
                        </div>
                        <div class="input-field col s12">
                            <div class="file-field input-field">
                                <div class="btn btn-small">
                                  <span>Agregar Avatar</span>
                                  <input placeholder="" id="img_avatar" name="img_avatar" type="file" class="validate" required="" accept=".jpg,.jpeg,.png" aria-required="true" >
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text">
                                </div>
                              </div>
                        </div>            
                        <button class="btn waves-effect waves-light"  type="submit">Guardar</button>            
                        <a  class="btn waves-effect waves-light" href="/programador">Cancelar</a>           
                    </form>
                </div>
            </div>
<%- include ('../maqueta/pie.ejs') %>